---
title: Welcome to Middleman
---

<div class="container clearfix">

    <div class="video-list">
        <% blog('videos').articles[0...5].each do |article| %>
            <div class="video-list-item clearfix">
                <div class="meta">
                    <ol>
                        <% article.tags.each do |tag, articles| %>
                            <li><%= link_to "#{tag}", tag_path(tag, 'videos') %></li>
                        <% end %>
                    </ol>

                    Category: <%= link_to "#{article.data.category}", category_path(article.data.category, 'videos') %>
                </div>
                <div class="content">
                    <h3><a href="<%= article.url  %>"><%= article.title %></a></h3>
                    <%= thumb_tag article.data.image, '447x' %>
                    <p><%= article.data.introtext %></p>
                    <%= link_to("Read more", article.url, class:"btn") %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="tags-list">
        <h3>Tags</h3>
        <ol>
          <% blog('videos').tags.each do |tag, articles| %>
            <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag, 'videos') %></li>
          <% end %>
        </ol>
    </div>
    <div class="clr"></div>
    <div class="clearfix">
        <h3>List of friends</h3>
        <br>
        <br>
        <% data.people.friends.each do |friend| %>
            <%= friend  %><br>
        <% end %>
    </div>

    <div class="clearfix">
        <h3>List of movies</h3>
        <br>
        <br>
        <% data.movies.movies.each do |movie| %>
            <ul>
                <li><strong>Title:</strong> <%= movie.title  %></li>
                <li><strong>Director:</strong> <%= movie.director  %></li>
                <li><strong>Actors:</strong> <%= movie.actors  %></li>
                <li>
                    <%= thumb_tag movie.poster, '200x' %>
                </li>
            </ul>
        <% end %>
    </div>
</div>